.blog-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    

}

.blog-body{
    width: 400px;
    margin: 0 auto;
    margin: 20px;
    margin-top: 10px;
}